<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
          aria-label="Lucas Vieira da Silva Logo">
          <img src="../../../assets/personal-logo-scaled.png" id="personal-logo" width="40" height="32" class="d-block me-2">
          <span class="fs-5">Alexander Mamani Yucra <strong>© 2023</strong></span>
        </a>
        <ul class="list-unstyled small text-muted">
          <!-- <li class="mb-2 licensed" style="mix-blend-mode: multiply;">Licensed by <a
              href="https://github.com/github.io/blob/master/LICENSE.md" target="_blank"
              rel="license noopener">MIT</a>.</li> -->
          <li class="mb-2" style="mix-blend-mode: multiply;"><a
              href="https://github.com/akey96" target="_blank" rel="github noopener">Github
              Repository</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-7 mb-3">
        <app-title icon="fa-bookmark" title="CONTACT"></app-title>
        <ul class="list-unstyled">
          <li class="mb-2" style="mix-blend-mode: multiply;">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/akey96"><i class="fa-brands fa-github"></i>Github</a>
          </li>
          <li class="mb-2" style="mix-blend-mode: multiply;">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alexander-mamani-yucra/"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
          </li>
          <!-- <li class="mb-2" style="mix-blend-mode: multiply;">
            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@alexandermamani1488"><i class="fa-brands fa-youtube"> </i>YouTube</a>
          </li> -->
          <li class="mb-2" style="mix-blend-mode: multiply;">
            <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/aleky/"><i class="fa-brands fa-gitlab"> </i>Gitlab</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
